<div class="overview">
  {{#if period}}
    <p class="period">{{ period }}</p>
  {{else}}
    {{> select-month }}
  {{/if}}
  <div class="income">+{{ income }}</div>
  <div class="expenses">-{{ expenses }}</div>
  <div class="total">+{{ total }}</div>
</div>