<div class="transaction-overview">
    <div class="row-income">
        <span class="name">{{ name }}</span>
        <span class="value">{{ value }}</span>
    </div>
    <div class="row-outcome">
        <span class="name">{{ name }}</span>
        <span class="value">{{ value }}</span>
    </div>
    <div class="row-total">
        <span class="name">{{ name }}</span>
        <span class="value">{{ value }}</span>
    </div>
</div>