<li class="transaction" data-toggle=".transaction-expand">
  <div>
    <div class="transaction-row">
      <div class="transaction-name">{{ name }}</div>
      <div class="transaction-value">
        {{#ifequal type 'income'}}
        <span class="income znamenko">+</span>
        <span class="income val">{{ value}}</span>
        <span class="income"> CZK</span>
        {{else}}
        <span class="expense znamenko">-</span>
        <span class="expense val">{{ value}}</span>
        <span class="expense"> CZK</span>
        {{/ifequal}}
      </div>
    </div>
  </div>                       
  <div class="transaction-expand">
    <div class="expand-row">
      <div class="transaction-date">{{dateFormat created}}</div>
      {{> transaction-buttons}}
    </div>
  </div>
</li>