<li class="transaction">
  <div>
    <div class="transaction-created">{{ dateFormat created }}</div>
    <div class="transaction-created">{{ timeFormat created }}</div>
    <div class="transaction-type">{{ type }}</div>
  </div>
  <div class="transaction-name">{{ name }}</div>
  
  <div class="transaction-value">{{ value }}</div>
</li>